<!DOCTYPE html>
<html lang="ja">

<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>alert('YUKI YOUTUBE')</script>
    
</head>
    <script>alert('ztttas1改造版(非公式)  V:1.3  製作・運営:ztttas1 ')</script>
    <p>ztttas1改造版(非公式)  V:1.3  製作・運営:ztttas1</p>
    <a href="https://discord.gg/t3YFdkpChd" >Discordサーバー</a>
    <h>Error</h>
    <br><a href="https://scratch.mit.edu/projects/886330962/" >ここのコメント欄にURLと使えないってコメント書いておいて</a>
